<h1>Angular Stuff</h1>
<h2>Class & Style</h2>
<label>Name: </label>
<input type="text" required #nameInput2=ngModel [(ngModel)]="name" />
<h4 class="message-error" [style.font-style]="nameInput2.invalid ? 'italic': 'normal'" [class.invalid]="nameInput2.invalid" >The name field is required</h4>

<div class="container">
  <div>
    <label> Height</label><input type="number" [(ngModel)]="heightImage" />
    <label> Width</label><input type="number" [(ngModel)]="widthImage" />
    <label> Background</label><input type="color" [(ngModel)]="backgroundImage" />
  </div>
  <div [ngStyle]="{
    'width.px': widthImage,
    'height.px': heightImage,
    'background-color': backgroundImage,
    'display': 'block'
  }">
  </div>
</div>
<hr>

<h2>Products</h2>
<div class="container">
  <div class="card" *ngFor="let product of products">
    <div>
      <img class="card-image" [src]="product.image" alt="image">
    </div>
    <h4 class="card-price">$ {{ product.price }}.00</h4>
    <h3 class="card-title">{{ product.name }}</h3>
  </div>
</div>
<h2>*ngFor</h2>
<h5>If you want add a new emoji, you should complete the next input and press the button</h5>
<input type="text" required [(ngModel)]="emoji">
<button style="cursor: pointer;" (click)="addEmoji()">Add emoji 😂</button>
<ul>
  <li *ngIf="emojis.length === 0">Don't exist any element</li>
  <li *ngFor="let emoji of emojis; index as i">
    {{ i + 1 }} {{ emoji }}
    <button style="cursor: pointer;" (click)="deleteEmoji(i)">Delete</button>
  </li>
</ul>
<hr>

<h3>Data Binding with ngModel</h3>
<input type="text" required #nameInput="ngModel" [(ngModel)]="textImputNgModule" />
<br>
<p>Value: {{ textImputNgModule }} </p>
<p>Valid: {{ nameInput.valid }} </p>
<input type="number" max="100" min="0" required #progressInput="ngModel" [(ngModel)]="progress" />
<p>Valid: {{ progressInput.valid }} </p>
<br>
<hr>

<h3>Data Binding</h3>
<input type="text" [value]="textExample" />
<button [disabled]="btnDisabled" >Submit</button>
<hr>

<h3>Event Binding</h3>
<h4>Numbers of clicks: {{ count }}</h4>
<button style="cursor: pointer;" (click)="onClick()" >
  Click Me!
</button>
<button style="cursor: pointer;" (click)="clearCounter()">Clean counter</button>
<br>
<p>Your progress is {{ progress }} %</p>
<progress max="100" [value]="progress"></progress>
<br>
<h5 *ngIf="progress === 100; else elseBlock">{{ warning }}</h5>
<ng-template #elseBlock>
  <h5>Your progress is {{ progress }}%</h5>
</ng-template>
<button style="cursor: pointer;" (click)="incrementProgress()" >Increment</button>
<br>
<h5>Scroll position {{ scrollOfDiv }} </h5>
<div class="box" (scroll)="onScroll($event)" >
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam optio, at minima, sit distinctio nobis qui quam consequatur aspernatur corporis officia, expedita fugiat reiciendis? Quidem ex eius porro blanditiis quam!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam explicabo earum, id incidunt impedit illum voluptas dolor, facere placeat consequatur sapiente vero obcaecati corrupti assumenda, consectetur in natus veritatis iusto.
  </p>
</div>
<br>
<h4>Live change string</h4>
<input type="text" placeholder="Example" (keyup)="changeText($event)"/>
<p>Value: {{ textInput }}</p>



