<h1>Angular Stuff</h1>
<h3>Data Binding</h3>
<input type="text" [value]="textExample" />
<button [disabled]="btnDisabled" >Submit</button>
<hr>
<h3>Event Binding</h3>
<h4>Numbers of clicks: {{ count }}</h4>
<button style="cursor: pointer;" (click)="onClick()" >
  Click Me!
</button>
<button style="cursor: pointer;" (click)="clearCounter()">Clean counter</button>
<br>
<p>Your progress is {{ progress }} %</p>
<progress max="100" [value]="progress"></progress>
<br>
<h5>{{ warning }}</h5>
<button style="cursor: pointer;" (click)="incrementProgress()" >Increment</button>
<br>
<h5>Scroll position {{ scrollOfDiv }} </h5>
<div class="box" (scroll)="onScroll($event)" >
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam optio, at minima, sit distinctio nobis qui quam consequatur aspernatur corporis officia, expedita fugiat reiciendis? Quidem ex eius porro blanditiis quam!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam explicabo earum, id incidunt impedit illum voluptas dolor, facere placeat consequatur sapiente vero obcaecati corrupti assumenda, consectetur in natus veritatis iusto.
  </p>
</div>
<br>
<h4>Live change string</h4>
<input type="text" placeholder="Example" (keyup)="changeText($event)"/>
<p>Value: {{ textInput }}</p>


