<h1>Register</h1>
<form>
  <div class="input-group">
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="register.name">
    <p>Error in the name</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="text" id="email" [(ngModel)]="register.email">
    <p>Error in the email</p>
  </div>
  <div class="input-group">
    <label for="passwd">Password</label>
    <input type="text" id="passwd" [(ngModel)]="register.password">
    <p>Error in the password</p>
  </div>
</form>
